.manpowerManagementMainDiv{
    padding: 1rem 0;

    .populationRiskMainDiv{
        background: #202236 ;
        padding: 1rem;
        border-radius: 10px;

        .titleText{
            font-size: 1.2rem;
        }

        .numberText{
            font-size: 1.2rem;
        }


        .percentageDiv{
            padding: 0.15rem 0.75rem;
            border-radius: 2rem;
            background: #FFFFFF;
            display: inline-block;
        }

        .lowText{
            font-size: 1.2rem;
            
        }
    }

    .attendanceTrendMainDiv{
        padding: 1rem;
        background: #FFFFFF;
        border-radius: 10px;
        position: relative;

        .dateText{
            font-size: 0.75rem;
        }

        .yesterdayPresentMainDiv{
            padding: 0.5rem 1.2rem;
            background: #55597c;
            border-radius: 0.5rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
            div{
                font-size: 0.75rem;
            }
            .valueDiv{
                font-size: 1.2rem;
                padding: 0.25rem 0;
                color: #FFFFFF;
            }
        }
    }

    .viewAllEmployeesButton{
        background-color: #ef5e8c !important;
        color: white !important;
        box-shadow: 0 5px 15px 0 rgba(85, 89, 124, 0.3);
        padding: 0.625rem 1.25rem;
        border:thin solid transparent;
        outline: none;
        font-size: 0.875rem;
        display: inline-block;
        border-radius: 0.35rem;
        cursor: pointer;
    }

    .teamsMainDiv{
        padding: 1rem;
        background: #FFFFFF;
        border-radius: 10px;
        position: relative;

        .allOrPinnedMainDiv{
            width: 100%;

            .eachDiv{
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                text-align: center;

                .badgeBox{

                    width: 25px;
                    height: 25px;
                    padding: 0.5rem;
                    border: solid 1px #2f3249;
                    border-radius: 50%;
                    color: #2f3249;
                    font-size: 12px;
                    font-weight: 500;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.25;
                    letter-spacing: normal;
                    text-align: center;
                    display: inline-block;

                    span{
                        position: relative;
                        left: 0rem;
                        top: -0.15rem;
                    }
                }

                .activeBadge{
                    border: solid 1px #ea5d8b;
                    border-radius: 50%;
                    color: white;
                    background-color: #ea5d8b;
                }
            }
            .active{
                background-color: #fef0f4;
                border: #ea5d8b solid thin;
                color: #ea5d8b;
                z-index: 0 !important;
            }
        }

        .teamListDiv{
            img{
                width: 30px;
            }
            span{
                font-size: 1rem;
                padding-left: 0.5rem;
                width: 60%;
                vertical-align: middle;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .employeeDetailsMainDiv{
        
        .batteryMainDiv{
            background-image: linear-gradient(277deg, #404255, #6a6d83);
            padding: 0.75rem 1.5rem;
            border-radius: 2rem;
            font-size: 0.80rem;
        }

        .historyOfInfectionDiv{
            background-image: linear-gradient(294deg, #404255, #6a6d83);
            padding: 1rem 0.5rem;
            border-radius: 0.5rem;
            position: relative;

            .attendancePercentageRoundDiv{
                position: absolute;
                top: 1rem;
                right: 0.5rem;
                width: 75px;
                height: 75px;
                background: #81eda6;
                border-radius: 50px;
                border:5px solid #79e127;

                .percentageText{
                    position: relative;
                    color: #2f3249;
                    text-align: center;
                    top: 1rem;
                    font-size: 0.975rem;
                }

                .thisMonthText{
                    font-size: 10px;
                }


            }

            .percentageBorderDiv{
                position: absolute;
                top: 1rem;
                right: 0.5rem;
                width: 75px;
                height: 75px;
                background: #000000;
                border-radius: 50px;
                border:5px solid #79e127;
                z-index: 10001;
            }

            .infectedText{
                font-size: 0.85rem;
            }

            .attendanceDaysMainDiv{
                .noOfDays{
                    font-size: 1.5rem;
                    display: inline-block;
                    vertical-align: middle;
                }

                .daysText{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        .indexMainDiv{
            .eachIndexDiv{
                padding: 1rem;
                border-radius: 10px;

                .riskPercentageMainDiv{
                    text-align: right;
                    .riskPercentagenNumber{
                        font-size: 1.3rem;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .increaseDecreasePercentageDiv{
                        padding: 0.05rem 0.80rem;
                        border-radius: 14px;
                        border: solid 1px #ffffff;
                        background-color: #ffffff;
                        vertical-align: middle;
                        display: inline-block;
                        margin-left: 0.5rem;
                        font-size: 0.75rem;   
                    }
                }
                
            }

            .lowIndexGradientColor{
                background: linear-gradient(181deg, #04e06e, #a5e006);
            }

            .highIndexGradientColor{
                background: linear-gradient(181deg, #ff6f55, #ffdb91);
            }

            .mediumIndexGradientColor{
                background: linear-gradient(181deg, #f5b608, #ffdc91);
            }
            
        }

        .mostInteractedMainDiv{
            padding:  1rem;
            border-radius: 0.5rem;
            background: #FFFFFF;
            box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.2);
        }

        
    }
}



.manpowerManagementEmployeeListMainDiv{
    padding: 1rem;
    border-radius: 0.5rem;
    background: #FFFFFF;
}

.empAttendanceMainDiv{

    margin-top: 1rem;

    .eachAttendanceDiv{
        margin-bottom: 0.5rem;

    }
    .monthDiv{
        display: inline-block;
        vertical-align: middle;
        padding-right: 0.5rem;
    }

    .progressBarDiv{
        display: inline-block;
        vertical-align: middle;
        width: 57%;
        background: #5e586c;
        border-radius: 0.5rem;
        margin: 0 0.15rem;

        .daysProgressBG{
            padding: 0.35rem;
            border-radius: 0.5rem;
            background: #ef5e8c;

        }
    }

    .daysDiv{
        display: inline-block;
        vertical-align: middle;
        padding: 0 0.5rem;
    }
}

.testedPositiveDatePickerMainDiv{
    position: relative;

    .downArrowDiv{
        position: absolute;

        top: 0.15rem;
        right: 0rem;
        img{
            width: 15px;
        }
    }
    .react-datepicker-wrapper{
        max-width: 100%;
    }
    input{
        max-width: 100%;
        background: transparent;
        border: thin transparent solid;
        border-bottom: thin #e9ecef solid;
        outline: none;
        color: #e9ecef;
        cursor: pointer;

        &:focus{
            outline: none;
            
        }
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #e9ecef;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #e9ecef;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: #e9ecef;
      }
      
}


.manPowerEmpListMainDiv{
    .eachCardDiv{
        border-radius: 0.5rem;
        background: #4b4d61;
        margin-bottom: 0.75rem;
        
        .headingNameMainDiv{
            padding: 0.5rem 0.75rem;
            .empName{
                font-size: 1rem;
            }
            .empTitle{
                font-size: 0.75rem;
            }

            .priDiv{
                .priValue{
                    font-size: 1rem;
                }
            }

        }

    }
}

.eachMostVisitedAreaDiv{
    .iconDiv{
        width: 40px;
        height: 40px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;

        img{
            margin-top: 0.85rem;
        }
    }

    .areaNameDiv{
        width: 70%;
        display: inline-block;
        vertical-align: middle;
        padding-left: 1rem;

        .categoryName{
            border: thin #202236 solid;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            margin: 0 0.5rem;
            border-radius: 1rem;
            padding: 0.25rem 0.5rem;
            font-size: 0.75rem;


            &:first-child{
                margin-left: 0;
            }
        }
    }
}