.siteManagementMainDiv {
    padding: 1rem 0rem;

    .siteListMainDiv {
        padding: 1.4rem 1.5rem;
        border-radius: 0.5rem;
        background: #FFFFFF;

        .priSriMriText {
            color: #55597c !important;
            font-size: 0.81rem;
        }

        .emplStatusDiv {
            padding: 0px 10px;
            text-align: center;
            border-radius: 16px;
            border: solid 1px #ff6e6e;
            font-size: 0.83rem;
            color: #ff6e6e;
            margin-top: 0.5rem !important;
        }

        .locationsListing {}

        .listingSearchMainDiv {
            input {
                width: 100%;
                border-radius: 0.35rem;
                border: 1px solid #cad1d7;
                color: #8898aa;
                outline: none;
                padding: 0.5rem;

                &:focus {
                    border: 1px solid #cad1d7;
                    color: #8898aa;
                    outline: none;
                }
            }
        }

        .listingRecordMainDiv {
            margin-top: 1rem;

            .eachCard {
                background-color: #f5f7fa;
                margin-bottom: 1rem;
                border-radius: 0.5rem;

                //border: 1px solid rgba(0, 0, 0, 0.05);
                cursor: pointer;

                .card-body {
                    padding: 1rem 1.2rem;

                    .eachTag {
                        width: 140px;
                        display: inline-block;
                        text-align: center;
                        margin: 0 5px;
                        padding: 0.25rem 1rem;
                        border-radius: 5px;
                        background-color: #202236;
                        font-size: 14px;
                        color: #ffffff;

                        &:first-child {
                            margin-left: 0;
                        }
                    }

                    .locationNameDiv {
                        font-weight: 600;
                        font-size: 1.3rem;
                    }

                    .nearByLocationDiv {
                        font-size: 0.75rem;
                        color: #55597c;
                    }

                    .indexCircleStatus {
                        width: auto;
                        padding: 0.25rem 0.75rem;
                        border-radius: 1rem;
                        margin-left: 1rem;
                        font-size: 12px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.21;
                        letter-spacing: normal;
                        text-align: left;
                    }

                    .lowStatus {
                        border: solid 1px #2fdf84;
                        color: #2fdf84;
                    }

                    .arrowDiv {
                        width: 50%;
                        float: right;

                        img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.siteViewMainDiv {
    padding: 1rem 0;

    .siteViewDetailsLeftSideDiv {
        background: #202236;
        padding: 1.25rem;
        border-radius: 0.5rem;
        color: #FFFFFF;

        .headerNameDiv {
            font-size: 1.75rem;
        }

        .subHeaderDiv {
            font-size: 1rem;
        }

        .separaterLine {
            margin: 2rem 0;
            border: 0;
            border-top: 1px solid rgba(255, 255, 255, 0.3);
        }

        .recommendMainDiv {
            .recommendListMainDiv {
                .eachRecommendCardDiv {
                    margin-bottom: 1.25rem;
                    padding: 1.5rem;
                    border-radius: 0.45rem;
                    background-image: linear-gradient(279deg, #404255, #5c5e74);
                    font-size: 1rem;
                }
            }
        }
    }

    .siteViewRightSideDiv {
        .areaIndexMainDiv {
            padding: 1.5rem;
            border-radius: 12px;
            background-image: linear-gradient(to bottom, #04e06e, #a5e006);

            .areaIndexValue {
                display: inline-block;
                vertical-align: middle;
                color: #4d4f5f;
            }

            .areaIndexRiskPercentageDiv {
                padding: 0.2rem 0.70rem;
                border-radius: 14px;
                border: solid 1px #ffffff;
                background-color: #ffffff;
                vertical-align: super;
                display: inline-block;
                margin-left: 0.5rem;
                font-size: 0.75rem;
            }

            .riskLevelText {
                color: #34422e;
                font-size: 0.75rem;
            }
        }

        .footfallMainDiv {
            padding: 1.5rem;
            border-radius: 12px;
            box-shadow: 0 5px 15px 0 rgba(85, 89, 124, 0.5);
            background-color: #ffffff;

            .dayWeekButtonMainDiv {
                .buttonDiv {
                    width: 95px;
                    padding: 7.8px 17.8px 8px 18px;
                    border-radius: 100px;
                    border: solid 1px #ef5e8c;
                    background-color: #fef0f4;
                    color: #ef5e8c;
                    font-size: 15px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.18;
                    letter-spacing: normal;
                    text-align: center;
                    margin: 0 0.5rem;

                    &:first-child {
                        margin-left: 0;
                    }
                }

                .activeFootfall {
                    background-color: #ef5e8c;
                    border-color: #ea5d8b;
                    color: white;
                }
            }
        }
    }
}

.overCrowdedGradientColor {
    background: linear-gradient(106deg, #ff6f55 10%, #ffdb91 92%) !important;
    color: #000000 !important;
}

.normalGradientColor {
    background: linear-gradient(106deg, #04e06e 10%, #a5e006 92%) !important;
    color: #000000 !important;
}

.crowdedGradientColor {
    background: linear-gradient(106deg, #f5b608 10%, #ffdc91 92%) !important;
    color: #000000 !important;
}

.siteViewHeaderDiv {
    .smallHeader {
        font-size: 1rem;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        font-weight: 600;
        color: #969aa9;
    }

    .breadCrumbArrow {
        font-size: 1.5rem;
        color: #969aa9;
        margin: 0 1rem;
        display: inline-block;
        vertical-align: middle;
    }

    .mediumHeader {
        font-size: 1.5rem;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        font-weight: 600;
        color: #383b52;
    }
}

.areaIndexChartMainDiv {
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(85, 89, 124, 0.2);
}


.siteHeadingDatePickerDiv {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    padding: 0 1rem;
    padding-left: 0;

    .react-datepicker-popper{
        left: -200px !important;
    }

    .react-datepicker__triangle{
        left: 13rem !important;
    }

    .react-datepicker-wrapper {
        width: 65% !important;
        vertical-align: middle;
        cursor: pointer;

        input {
            border: none !important;
            outline: none !important;
            background: none !important;
            width: 100% !important;
            text-align: right;
            cursor: pointer;
            caret-color: transparent;
        }
    }
}