.dashboardComponentMainDiv {
    padding: 1rem 0;

    .threatWatchMainDiv {
        padding: 1rem;
        margin-top: 0.25rem;
        border-radius: 10px;

        .threatWatchTextDiv {
            .title {
                font-size: 1.625rem;
                font-weight: 600;
            }

            .subTitle {
                font-size: 0.875rem;
                font-weight: 600;
            }

            .workSpaceStripeDiv {
                position: relative;
                margin-top: 1.2rem;
                text-align: center;
                color: #55597c;
                background: #FFFFFF;
                width: 245px;
                border-radius: 80px;
                padding: 1rem 0.5rem;
                padding-left: 3rem;
                font-size: 12px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.21;
                letter-spacing: normal;
                color: #31334c;

                @media only screen and (max-width: 1250px) {
                    width: 230px !important;
                    font-size: 11px !important;
                }

                .thumbIconDiv {
                    width: 47px;
                    height: 47px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: #ffffff;
                    border-radius: 25px;
                    padding-top: 12px;
                }
            }
        }

        .dashboardPeopleImageMaiDiv {
            img {
                max-width: 100%;
            }
        }
    }

    .dashboardPeopleAndDateMainDiv {
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        margin-bottom: 1rem;

        .dashboardPeopleAndEmployeeMainDiv {
            display: inline-block;
            padding: 0.2rem 0.5rem;
            border-radius: 25px;
            background-color: #55597c;
            color: #FFFFFF;
            font-size: 12px;

            .peopleOnPremisesInnerDiv {
                padding-left: 1rem;
                text-align: left;
                display: inline-block;
                vertical-align: middle;
                padding-top: 0.25rem;
                width: 120%;


                img {
                    margin-right: 0.5rem;
                }

                span {
                    vertical-align: middle;
                    display: inline-block;
                    width: 47%;
                }
            }

            .employeeCountInnerDiv {
                text-align: left;
                display: inline-block;
                vertical-align: middle;

                .empCount {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
    }

    

    .dashboardLanguageMainDiv {
        display: inline-block;
        vertical-align: super;
        width: 25%;
    }

    .dashboardGraphAndIndexMainDiv {
        margin-top: 1rem;
        background: #FFFFFF;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 5px 15px 0 rgba(85, 89, 124, 0.2);

        .populationRiskMainDiv {
            border: solid 1px #e0e0e0;
            background-color: #f5f7fa;
            border-radius: 6px;
            width: 100%;
            cursor: pointer;
        }

        .populationRiskPadding {
            padding: 3rem 1rem;
        }

        .utilityPadding {
            padding: 1.5rem 1rem;
        }

        .indexText {
            font-size: 1.1rem;
            font-weight: 600;
            margin-top: 0.75rem;
        }

        .riskLevelMainDiv {
            padding: 12px 16px;
            text-align: center;
            border-radius: 0.5rem;

            .riskLevelTitleDiv {
                font-size: 1.2rem;
                font-weight: 600;
            }

            .riskLevelSubtitleDiv {
                font-size: 0.70rem;
                font-weight: 600;
            }
        }

        // .selectedRiskLevelDiv{
        //     background-image: linear-gradient(151deg, #04e06e, #a5e006);
        //     border-radius: 0.5rem;

        // }

        .activeTab {
            background-color: #fef0f4;
            border-color: #ea5d8b;
            color: #ea5d8b;
        }

        .pinkArrowIconDiv {
            text-align: center;
            position: relative;
            img{
                position: absolute;
                right: 1rem;
            }
        }

        .spreadMobilityAreaIndexMainDiv {
            width: 95%;
            margin: 0 auto;
        }

        .negativeMarginTop {
            margin-top: -1.5rem;
        }

        .chartView {
            margin: 2.5rem 0.5rem;
        }
    }
}

.threatWatchAnalyticsMainDiv {
    display: flex;

    .eachColumnDiv {
        flex: 1;

        // padding: 1em;
   
    }

    .contaminatedMainDiv {
        background: #f5f7fa;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .contactRankStartDateEndDateMainDiv {
        background: rgba(245, 247, 250, 1);
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;

        .contactRankText {
            font-size: 0.875rem;
            color: #31334c;
            padding: 0rem 0.75rem;
        }
    }

    .contaminatedDetails {
        padding: 1rem;
        display: inline-block;
        vertical-align: middle;
        width: 50%;

        .titleText {
            font-size: 0.875rem;
        }

        &:last-child {
            border-right: thin #e0e0e0 solid;
        }

        .eachRecordDiv {
            display: block;
            vertical-align: middle;

            .countDiv {
                margin-top: 1.8rem;
                font-size: 1.5rem;
            }

            &:first-child {
                margin-left: 0;
            }

            .labelDiv {
                font-size: 0.75rem;
            }
        }
    }
}

.greenGradienColor {
    background-image: linear-gradient(96deg, #04e06e 20%, #a5e006 111%);
}

.redGradientColor {
    background-image: linear-gradient(110deg, #ff6f55, #efc56e);
}

.contactRankSelectDropdownDiv {
    padding: 0.15rem 0.75rem;
    position: relative;

    select {
        width: 100%;
        padding: 0.05rem 0.5rem;
        border: thin #e3e4eb solid;
        outline: none;
        border-radius: 0.25rem;
        background: #FFFFFF;
        cursor: pointer;
        -o-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:focus {
            border: thin #e3e4eb solid;
            outline: none;
        }

        
    }
    .dropdownIconDiv{
        position: absolute;
        right: 1.2rem;
        top: 0.15rem;

        img{
            width: 16px;

        }

    }
}
